.bio
{
    text-align: center;
    p
    {
        font-size: 1.2em;
    }
    h1,
    p
    {
        margin: 16px 0;
    }
}

.info,
.contact,
.education,
.others
{
    ul
    {
        margin: .25em 0;
        padding-left: 1.25em;

        list-style-type: disc;
        li
        {
            line-height: 1.75;

            display: list-item;

            text-align: -webkit-match-parent;
        }
    }
}

.contact
{
    a
    {
        border-bottom: none;
    }
}

.projects
{
    p
    {
        color: #666;
    }

    > ol
    {
        margin-top: 0;
        padding: 0;

        list-style-position: inside;
        > li
        {
            margin-bottom: 24px;
            > p
            {
                line-height: 1.5;
            }
            > header
            {
                display: flex;
                justify-content: space-between;
            }
            h3
            {
                display: inline-block;
            }
        }
    }
}

.skills
{
    h3
    {
        line-height: 20px;

        color: #666;
    }
    ul
    {
        margin: .25em 0;
        padding-left: 1.25em;

        list-style-type: disc;
        li
        {
            line-height: 1.75;

            display: list-item;

            text-align: -webkit-match-parent;
        }
    }
    // width: 500px;
}

.openSource
{
    header
    {
        position: relative;

        display: flex;
        justify-content: space-between;
        img
        {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    ul > li
    {
        margin-bottom: 24px;
    }
}

.jobs
{
    > ol > li
    {
        margin: 12px 0;
    }

    header
    {
        display: flex;

        margin-bottom: 12px;

        color: #666;

        > h3
        {
            font-size: 18px;

            color: #333;
        }
        > h4
        {
            font-size: 18px;

            margin-left: 1em;
        }

        > span
        {
            font-size: 18px;

            margin-left: auto;
        }
    }
}

.others
{
    li
    {
        margin-bottom: .25em;
    }
}
