@import "./helper.scss";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-hei;
  color: #333;
  background: #eee;
  margin: 20px 0;
}
article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  padding: 1em;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 25px;
  margin-top: 0;
}

h1,
h2 {
  color: #000;
  font-weight: 500;
}
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}
ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p,
li {
  color: #666;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
p {
  margin: 0.3em 0;
}
strong {
  color: #f60;
  margin: auto 3px;
  font-weight: 500;
}
