@import './helper.scss';

*
{
    box-sizing: border-box;
}
body
{
    // font-family: $font-hei;
    font-size: 14px;

    margin: 0;
    margin: 20px 0;
    padding: 0;

    color: #333;
    background: #eee;
}
article
{
    overflow: auto;

    width: 21cm;
    min-height: 29.7cm;
    margin: 0 auto;
    padding: 1em;

    background: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1
{
    font-size: 25px;

    margin-top: 0;
}

h1,
h2
{
    font-weight: 500;

    color: #000;
}
h3,
h4,
h5,
h6
{
    margin: 0;
}
ol,
ul
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

p,
li
{
    color: #666;
}
a
{
    padding-bottom: 2px;

    text-decoration: none;

    color: inherit;
    border-bottom: 1px solid;
}
p
{
    margin: .3em 0;
}
strong
{
    font-weight: 500;

    margin: auto 3px;

    color: #f60;
}

.icon
{
    overflow: hidden;

    width: 1em;
    height: 1em;

    vertical-align: -.15em;

    fill: currentColor;
}

h2
{
    padding-bottom: .5em;

    border-bottom: 1px solid #666;
}
